*{
	margin: 0;
	padding: 0;
	/*-webkit-user-select:none;*/
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #2b2b2b;
}
li{
	list-style: none;
}
div{
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}
input{
	border:0;
	outline: none;
}
input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}
body{
	background-color: #f7fbff;
	position: relative;
}
/*头部模块*/
#fixbox{
	width: 100%;
	background-color: #f7fbff;
}
#head{
	background: url(../img/index_nav_bg_03.png) no-repeat;
	background-size: cover;
	overflow:hidden;
}
.middle{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#head .logo{
	width: 86px;
	height: 30px;
	float: left;
	margin-top: 18px;
	background: url(../img/icon_01.png) no-repeat left 0;
	background-size: 356px;
}
#head .weather{
	width: 102px;
	margin-top: 18px;
	float: right;
	color: white;
}
#head .weather a{
	font-size: 28px;
	width: 42px;
	display: inline-block;
	float: left;
	line-height: 32px;
	color: white;
}
#head .weather span{
	font-size: 12px;
	width: 28px;
	float: left;
	line-height: 16px;
}
#head .weather i{
	width: 32px;
	height: 32px;
	float: left;
	background: url(../img/icon_01.png) no-repeat 30% 4%;
	background-size: 443px;
}
#head .search{
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}
#head .search input{
	width: 100%;
	height: 44px;
	border-radius: 4px;
	background-color:rgba(255,255,255,.4);
	z-index: 2;
	position: relative;
	text-indent: 10px;
	color: white;
}
#head .search .baidu{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#head .baidu span{
	display: inline-block;
	line-height: 44px;
	color: white;
}
#head .baidu i{
	width: 31px;
	height: 44px;
	float: left;
	display: inline-block;
	background: url(../img/icon_01.png) no-repeat 39% -3%;
	background-size: 365px;
}
/*四个图标*/
#iconbox{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: -6%;
	margin-bottom: 16px;
}
#iconbox .icon{
	width: 100%;
	float: left;
	text-align: center;
}
#iconbox img{
	width: 100%;
	max-width: 80px;
}
#iconbox .text{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #2b2b2b;
}
#iconbox .styleL{
	width: 14%;
	margin-right: 14%;
	float: left;
}
#iconbox .styleR{
	width: 14%;
	float: right;
}
#slidebox{
	max-width:640px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}
/*广告位*/
#banner{
	display: none;
}
/*12个小icon*/
#icons{
	width: 100%;
	background-color: white;
	float: left;
	margin-bottom: 15px;
}
#icons .iconsbox{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#icons .column{
	overflow: hidden;
}
#icons .column a{
	float: left;
}
#icons .column .iconL{
	width: 20%;
	text-align: center;
	margin-bottom: 15px;
}
#icons .column img{
	width: 50%;
	display: inline-block;
}
#icons .column .iconR{
	text-align: center;
	width: 20%;
}
#icons .column .icontext{
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	width: 100%;
}
#icons .icon1,#icons .icon2,#icons .icon3,#icons .icon4{
	width: 40px;
	height: 29px;
	/* display: inline-block; */
	/* float: left; */
}
#icons .column .icon1{
	background:  url(../img/icon_01.png) no-repeat -6px -114px;
	background-size: 411px;
}
#icons .column .icon2{
	background:  url(../img/icon_01.png) no-repeat -42px -114px;
	background-size: 398px;
}
#icons .column .icon3{
	background:  url(../img/icon_01.png) no-repeat -78px -114px;
	background-size: 398px;
}
#icons .column .icon4{
	background:  url(../img/icon_01.png) no-repeat -114px -114px;
	background-size: 398px;
}
#icons .marginstyle1{
	margin-top: 30px;
	margin-bottom: 30px;
}
#icons .marginstyle2{
	margin-top: 24px;
}
#icons .marginstyle3{
	margin-bottom: 24px;
}
/*音乐模块*/
#music{
	width: 100%;
	background-color: white;
	float: left;
	/* margin-top: 15px; */
}
#music .title,#videos .title,#point .title{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	line-height: 42px;
	overflow: hidden;
}
#music .title i{
	width: 20px;
	height: 42px;
	float: left;
	background: url(../img/icon_01.png) no-repeat 2% 82%;
	background-size: 390px;
	margin-right: 5px;
}
#videos .title i{
	width: 20px;
	height: 42px;
	float: left;
	background: url(../img/icon_video.png) no-repeat 2% 82%;
	background-size: 20px;
	margin-right: 5px;
	background-position: center;
}
#music .title span,#videos .title span, #point .title span{
	font-size: 18px;
	color: #ea8010;
	float: left;
	font-weight: bold;
}
#music .swiper-slide img{
	width: 100%;
}
#music .swiper-slide span{
	font-size: 14px;
	color: #303030;
	width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 24px;
}
#music .swiper-container{
	width: 100%;
	height: 100%;
	padding-bottom: 12px;
	border-bottom: 1px solid #EBEBEB;
}
#music .swiper-slide{
    text-align:center;
    width: 26% !important;
}
#music .music_list{
	width: 91%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
}
#music .music_list a{
	width: 100%;
	overflow: hidden;
	display: block;
	line-height: 54px;
}
#music .imgbox{
	float: left;
	width: 14%;
	overflow: hidden;
}
#music .imgtext {
	float: right;
	width: 82%;
	overflow: hidden;
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 10px;
}
#music .imgtext span{
	font-size: 14px;
	line-height: 22px;
	width: 100%;
	display: block;
	color: #303030;
	font-weight: bold;
}
#music .imgtext p{
	font-size: 12px;
	color: #303030;
	line-height: 22px;
	width: 100%;
	height: 22px;
	display: block;
	text-align: justify;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#music .imgbox img{
	width: 100%;
	border-radius: 4px;
}
#music .music_list .imgtext{
	display: inline;
}
#music .imgbox span{
	float: left;
} 
#music .imgbox p{
	float: left;
}
#swiperW{
	transform: translate3d(14px, 0px, 0px);
	-ms-transform:translate3d(14px, 0px, 0px); 	/* IE 9 */
	-moz-transform:translate3d(14px, 0px, 0px); 	/* Firefox */
	-webkit-transform:translate3d(14px, 0px, 0px); /* Safari 和 Chrome */
	-o-transform:translate3d(14px, 0px, 0px); 	/* Opera */
}
.clearborder{
	border: 0 !important;
} 
/*要闻*/
#point{
	width: 100%;
	background-color: white;
	/* margin-top: 10px; */
	margin-bottom: 15px;
	float: left;
}
#point .title i{
	width: 20px;
	height: 42px;
	float: left;
	background: url(../img/icon_01.png) no-repeat 11% 82%;
	background-size: 390px;
	margin-right: 5px;
}
#point .title a{
	float: right;
	color: #ea8010;
}
#point .newslist{
	width: 100%;
	border-top: 1px solid #EBEBEB;
}
#point .newslist ul{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}
#point .newslist li span{
	height: 46px;
	float:left;
	font-size: 12px;
	color: #ea8010;
}
#point .newslist li p{
	height: 46px;
	font-size: 16px;
	text-indent: 10px;
	text-align: justify;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#point .newslist li{
	line-height: 46px;
	border-bottom: 1px solid #EBEBEB;
}

/*底部模块*/
#footer{
	width: 100%;
	text-align: center;
	float: left;
	background-color: white;
	
}
#footer .fx{
	border-bottom: 1px solid #e6e6e6;
}
#footer .fx i{
	width: 20px;
	height: 40px;
	float: left;
	margin-right: 5px;
	background: url(../img/icon_01.png) no-repeat -105px -126px;
	background-size: 366px;
}
#footer .fx p{
	font-size: 12px;
	line-height: 40px;
	display: inline-block;
	color: #e339b1;
}
#footer .bz p{
	line-height: 30px;
	font-size: 12px;
	color: #4b4b4b;
}
/*搜索页面*/
#search{
	width: 100%;
	height: 100%;
	background-color: #f7fbff;
	position:fixed;
	top:0;
	left: 0;
	z-index: 100;
	overflow: hidden;
	display: none;
}
#search .inputbox{
	width: 92%;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#search .inputbox i{
	width: 20px;
	height: 44px;
	float: left;
	background: url(../img/icon_01.png) no-repeat -6px -156px;
	background-size: 366px;
}
#search .inputbox input{
	width: 70%;
	margin-top: 14px;
	background-color:#f7fbff;
	font-size: 16px;
	color: #636363;
	text-indent: 10px;
	/* border: 1px solid black; */
	/* padding: 13px 0 8px 0; */
}
#search .inputbox #xq{
	float: right;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	color: #33b3e8;
	position: absolute;
	top: 0;
	right: 0;
}
#search .inputbox #xq a{
	color: #e5e5e5;
	margin-right: 10px;
}
#search .history{
	width: 100%;
	height: 100%;
	border-top: 1px solid #EBEBEB;
	background-color: white;
	overflow: hidden;
}
#search .history ul{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}
#search .history ul li{
	width: 100%;
	line-height: 44px;
	overflow: hidden;
	position: relative;
}
#search .history ul li i{
	width: 20px;
	height: 44px;
}
#search .history ul li p{
	width: 100%;
	height: 44px;
	float: left;
	border-bottom: 1px solid #EBEBEB;
	padding-right: 20px;
	color: #a8aaab;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#search .ls{
	float:left;
	margin-right: 15px;
	background: url(../img/icon_01.png) no-repeat -40px -162px;
	background-size: 376px;
}
#search .remove{
	float: right;
	background: url(../img/icon_01.png) no-repeat -74px -162px;
	background-size: 376px;
	position: absolute;
	top: 0;
	right: 0;
}
#search #clear{
	background: url(../img/delect.png) no-repeat 79% 49%;
	background-size: 37%;
	width: 44px;
	height: 44px;
	display: block;
	position: absolute;
	top: 0;
	right: 50px;
}
@media only screen and (min-width: 640px) and (max-width: 1920px) {
	#head .logo{
		width: 106px;
		height: 34px;
		background-size: 412px;
	}
	#head .search{
		margin-bottom: 30px;
	}
	#iconbox{
		margin-top: -40px;
	}
	#fixbox{
		/* height: 284px; */
	}
	
}
@media only screen and (min-width: 511px) and (max-width: 639px) {
	#fixbox{
		/* height: 200px; */
	}
}
@media only screen and (min-width: 415px) and (max-width: 510px) {
	#fixbox{
		/* height: 250px; */
	}
}
@media only screen and (min-width: 375px) and (max-width: 414px) {
	#fixbox{
		/* height: 238px; */
	}
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
	#fixbox{
		/* height: 222px; */
	}
	#search .inputbox input{
		width: 64%;
	}
}
@media only screen and (min-width: 100px) and (max-width: 320px) {
	#search .inputbox input{
		width: 60%;
	}
}
#phone-content li{
	list-style: none;
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
	font-family:"å¾®è½¯é›…é»‘";
}
#phone-content .page-container{
	min-width: 1000px;
	float: left;
	width: 96%;
}
#phone-content .page-box{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
#phone-content .top-banner,.bottom-banner{
	width: 100%;
	height: 85px;
	overflow: hidden;
	background-color:#EDEDED;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    position: relative;
}
#phone-content .bottom-banner{
	margin-top: 93px;
    margin-bottom: 90px;
}
#phone-content .top-banner img,.bottom-banner img{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}
#phone-content .edit-content{
    width: 600px;
    float: left;
}
#phone-content .label-w{
	width: 50px;
	text-align: left !important;
	float: left;
}
#phone-content .edit-w{
	width: 550px;
	float: left;
}
#phone-content .edit-content .row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
#phone-content .edit-banner{
	width:300px;
	float: left;
}
#phone-content .edit-banner ul{
	width: 95%;
	float: right;
}
#phone-content .edit-banner ul li{
	width: 48%;
	height: 95px;
	margin: 0 1% 5px 1%;
	float: left;
	cursor: pointer;
	background-color:#EDEDED;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    position: relative;
}
#phone-content .edit-banner ul li img{
	display: block;
	margin: auto;
	margin-top: 25px;
}
#phone-content .width100-300{
	width: 98% !important;
	height: 300px !important;
	margin: 3% 1% !important;
}
#phone-content .width100-300 img{
	margin-top: 125px !important;
}
#phone-content .width100-95{
	width: 98% !important;
	margin: 3% 1% !important;
}
#phone-content .edit-container{
	overflow: hidden;
}
#phone-content .edit-content .textarea-numberbar{
	right: 6px !important;
}
#phone-content #page-edit{
	padding: 0 !important;
	width: 100%;
	height: 100%;
	position: absolute;
}
#phone-content .bottom-btn{
	width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid #D4D4D4;
    z-index: 1000;
}
#phone-content .btnbox{
	width: 900px;
	margin: 0 auto;
}
#phone-content .btnbox button{
	margin-top: 10px;
}
#phone-content .layer-top{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
}
#phone-content .layer-top a{
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-decoration: none;
}
#phone-content #pic-upload .label-w{
	width: 50px;
}
#phone-content .close{
	top: 2px !important;
}
#phone-content #pic-upload  .modal-body p{
    color: #B3B3B3;
    font-size: 12px;
    margin-left: 24px;
}
#phone-content .chooseBtn{
    float: right;
    line-height: 50px;
}
#phone-content #publish-window{
	/*width: 400px;*/
}
#phone-content #publish-window .modal-body{
    width: 44%;
    margin: 0 auto;
    padding: 0 0;
}
#phone-content #publish-window .modal-body i{
	font-size: 50px;
	float: left;
    color: #528ACA;
}
#phone-content #publish-window .modal-body .publish-text{
	float: right;
    text-align: left;
    margin-top: 23px;
}
#phone-content #publish-window .modal-body .publish-text p{
    color: #AFAFAF;
    font-size: 12px;
}
#phone-content .load{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1000000;
	display: none;
}
#phone-content .load img{
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#phone-content .publish-again{
	position: absolute;
    right: 10px;
}
#phone-content .un-publish{
	position: relative;
}

/*æ–°é—»å›¾æ–‡è®¾è®¡(å‰ç«¯)*/
#phone-content .phone{
	width: 370px;
    height: 100%;
    overflow-y: scroll;
	border: 1px solid gainsboro;
}
#phone-content .phonebox{
    margin-top: 60px;
}
#phone-content .phone-head img{
	width: 100%;
}
#phone-content #phone-content{
	width: 92%;
	margin: 0 auto;
	overflow: hidden;
}
#phone-content .threePic-news{
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
}
.threePic-news ul{
	overflow:hidden;
}
#phone-content .threePic-news .news-title{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#phone-content .threePic-news li{
	width: 31.333%;
	margin: 0 1%;
	float: left;
}
#phone-content .threePic-news li img{
	width: 100%;
	/* height: 100%; */
}
#phone-content .source-time{
    overflow: hidden;
    margin-top: 5px;
}
#phone-content .source-time span{
    font-size: 12px;
    color: #BABABA!important;
}
#phone-content .source-time .source{
	float: left;
}
#phone-content .source-time .time{
	float: right;
}
#phone-content .mt-5{
	margin-top: 5px;
} 
#phone-content .ml-5{
	margin-left: 5px;
}
#phone-content .leftImg{
    width: 30%;
    float: left;
    margin-top: 13px;
}
#phone-content .leftImg img{
	width: 82%;
	height: 50px;
}
#phone-content .rightText{
	width: 70%;
	float: right;
	padding-top: 8px;
}
#phone-content .news-title-2{
	line-height: 26px;
	font-size: 14px!important;
	overflow: hidden;
	height: inherit!important;
    text-indent: 0 !important;
}
#phone-content .news-list{
	overflow: hidden;
}
#phone-content .news-list li{
	float: left;
	border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    padding-top: 5px;
}
#phone-content .news-list ul{
	margin-top: 5px;
    overflow: hidden;
}
#phone-content .main{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#phone-content .loadMore{
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #727272;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
#phone-content .phone-head{
    width: 370px;
    position: fixed;
}

/*æ–°é—»å®¡æ ¸ç®¡ç†*/
#phone-content .success-time{
	color:gray;
	font-weight: normal;
}
#phone-content .change-show{
	line-height: 30px;
	text-decoration:underline
}
#phone-content .left-container{
	width: 56%;
}
#phone-content .right-container{
	width: 40%;
}
#phone-content .page-title{
	line-height: 40px;
	border-bottom: 1px solid gainsboro;
	margin-bottom: 10px;
}
#phone-content .right-container .text-l a,.left-container .text-l a{
    font-size: 14px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
#phone-content .left-container .text-l a{
	width: 260px !important;
}
#phone-content .mt-0{
	margin-top: 0 !important;
}
#phone-content .table-H{
	overflow-y: scroll;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
#phone-content .moveBtn{
	color: #148CF1;
	text-decoration: none !important;
}
#phone-content #onekeyPublish{
	margin-right: 4%;
}
.ad{
	padding: 10px 5%;
	background: white;
	margin: 15px 0;
	overflow: hidden;
}
.ad-box{
	float: left;
	width: 33.33%;
	text-align: center;
	position: relative;
}
.ad-box::after{
	content:'广告';
	position: absolute;
	right: 20px;
	top: 10px;
	color: white;
	font-size: 12px;
}
.ad-box img{
	float: left;
	width: 90%;
	margin-left: 5%;
}
#videos{
	background: white;
	padding-right: 5%;
	overflow: hidden;
	margin-bottom: 15px;
}
.video-item img{
	width: 100%;
}
.video-item{
	width: 50%;
	padding-left: 5%;
	float: left;
	padding-top: 0px;
	font-size: 14px;
}
.video-title{
line-height: 28px;
}
.video-info{
	color: #BABABA;
	line-height: 24px;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}