@import "./modal.less";
@width: 100%;
@height: 200px;

.layer{
	width: @width;
	height: @height;
	background: blue;
	display: flex;
	justify-content:center;
	align-items:center;
	h1{
		color: white;
		background-image: url('../../images/bg.png');
	}
}
