<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App Test</title>
  </head>
  <body>
	  <div class="flex-div">
		  <div id="app">
		  </div>
	  </div>
      <img src="./src/images/bg.png" width="100%" alt="">
	  <!-- <% for(var key in htmlWebpackPlugin.files) { %>
	  	<% key %>: <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
      <% } %>
	  <% for(var key in htmlWebpackPlugin.options) { %>
	  	<% key %>: <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
      <% } %> -->
      <!-- <script src="./src/script/a.js" charset="utf-8"></script> -->
  </body>
</html>
