body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;font-family: "微软雅黑"}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
a{
	text-decoration: none;
}
body{
	margin: 0px auto;
}
.column4{
	width: 25%;
	float: left;
	text-align: center;
}
.fix:after{
	visibility: hidden;
	clear: both;
	content: ".";
	display: block;
	height: 0;
}
.fix{
	zoom:0;
}
.tabs{
	padding-bottom: 15px;
}
.tabs  a  span{
	font-size: 18px;
	color: #d3e7e8;
	font-weight: 500;
	padding: 0 6px 5px 6px;
}
.active  span{
	color: #ffffff !important;
	border-bottom: 3px solid #ffffff;
	font-weight: bold !important;
}
.news_header{
	width: 90%;
	margin: 0 auto;
	padding: 45px 0 45px 0;
	text-align: center;
}
.news_header a{
	/* text-align: center; */
}
.news_header a img{
	height: 28px;
}
.navigate{
	padding-bottom: 15px;
}
.contain{
	margin: 0 auto;
	background-image: url(../img/index_nav_bg_03.png);
	background-size: 100% 100%;
}
/*æ–°é—»*/
.important_news  p  span{
	color: #ea8020;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.news_title{
	width: 90%;
	margin: 0 auto;
	line-height: 48px;
}
.news_title  a{
	color: #eb8a31;
	float: right;
	font-size: 16px;
}
.important_news{
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
}
.news_content{
	margin-bottom: 10px;
	overflow: hidden;
	background-color: white;
}
.news_content  ul{
	width: 86%;
	margin: 0 auto;
}
.news_content  ul  li{
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}
.news_content  ul  li  span{
	font-size: 12px;
	color: #f0a251;
	height: 46px;
	float:left;
}
.news_content  ul  li  p{
	height: 46px;
	font-size: 16px;
	text-indent: 10px;
	text-align: justify;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.line{
	height: 17px;
	background-color: #f7fbff;
}
.no_line{
	border: none !important; 
}
/*å°è¯´*/
.story  p  span{
	color: #ea8020;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.story_title{
	width: 90%;
	margin: 0 auto;
	line-height: 48px;
}
.story_title  a{
	color: #eb8a31;
	float: right;
	font-size: 16px;
}
.story{
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
}
.story_content{
	background-color: white;
	margin-bottom: 10px;
}
.story_content  ul  li{
	width: 88%;
	margin: 0 auto;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
	white-space: nowrap;
	position: relative;
	clear: both;
}
.story_content  ul  li  span{
	color: #000000;
	font-weight: bold;
	line-height: 44px;
}
.story_content  ul  li  p a{	
	color: #000000;
	line-height: 20px;

}
.story_content  ul  li  p{
	margin-top: 11px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.story_content  ul  li  a{
	width: 100%;
	display: block;
	line-height: 44px;
	color: #000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.editor{
	width:100%;
	background-color: white;
	margin-bottom: 10px;
}
.editor ul{
	width: 88%;
	margin: 0 auto;
}
.editor span{
	display: block;
	line-height: 42px;
	font-weight: bold;
}
.free{
	background-color: white;
	margin-bottom: 10px;
	overflow: hidden;
}
.free ul li{
	width: 88%;
	margin: 0 auto;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
	white-space: nowrap;
	position: relative;
	clear: both;
}
.free ul li a{
	max-width: 80%;
	display: inline-block;
	line-height: 44px;
	color: #000000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}
.editor p{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 10px;
}
.editor li{
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}
.ex_content  ul  li  a{
	width: 68%;
	margin-left: 3px;
	color: #000000;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: bottom;
}
.line{
	height: 17px;
	background-color: #f7fbff;
}
.no_line{
	border: none !important; 
}
.number{
	font-size: 14px;
	font-weight: normal !important;
	color: #f58787 !important;

}
.click{
	font-size: 9px;
	font-weight: normal !important;	
	color: #777777 !important;
}
.block_right{
	float: right;
}
.fixed{
	position: fixed;
	bottom: 0;
	right: 4%;
	opacity: 0.7;
	z-index: 1;
}
.fixed  .top  a  img{
	height: 36px;
}
.fixed  .feedback  a  img{
	height: 36px;
}
.icon_xm{
	height: 18px;
}
.icon_span{
	float: left;
	margin-top: 10px;
}
.middle_wrap  .game_pic{
	width: 92%;
	margin: 0 auto;
	text-align: center;
}
.middle_wrap{
	padding-top: 17px;
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
}
.column3{
	float: left;
	width: 33.3%;
}
.column3  img{
	height: 90px;
}
.column3 span{
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #474747;
	display: block;
}
.content-slide{
	margin-bottom: 10px;
}
.content_wrap{
	width: 89%;
	margin: 0 auto;
	padding: 13px 0 13px 0;
	line-height: 20px;

}
.content_wrap  img{
	width: 17.3%;
	float: left;
}
.content_middle{
	width: 48.7%;
	float: left;
	margin-left: 10px;
}
.content_middle  span{
	font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}
.content_middle  p{
	font-size: 13px;
    line-height: 30px;
    color: #474747;
    text-overflow:ellipsis;
    white-space: nowrap;  
    overflow: hidden;}
.load{
	margin-top: 15px;
	float: right;
	width:18.9%;
}
.load a{
	color: #009aee;
	font-size: 15px;
	height: 28px;
	border: 1px solid #009aee;
	text-align: center;
	display: block;
	line-height: 30px;
	border-radius: 3px;
}
.wrap{
	border-bottom: 1px solid #e6e6e6;
	background-color: white;
}
#no_line{
	border: none;
}
/*è§†é¢‘*/
.movie_wrap{
	margin-bottom: 10px;
	background-color: white;
}
.new_movie{
	overflow: hidden;
	background-color: white;
}
.new_movie  p  span{
	color: #ea8020;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.new_movie_title{
	width: 90%;
	margin: 0 auto;
	line-height: 48px;
}
.new_movie_title  a{
	color: #eb8a31;
	float: right;
}
.movie_content{
	width: 90%;
	margin: 0 auto;
}
.movie_content  ul  li{
	width: 31.3%;
	float: left;
	text-align: center;
	padding-bottom: 16px;
	margin: 0 1%;
}
.movie_content  ul  li img{
	width: 95%;
}
.movie_content  ul  li  h3{
	font-size: 14px;
	color: #353535;
	font-weight: bold;
	line-height: 24px;
	margin: auto;
	text-align: left;
	width: 95%;
}
.movie_content  ul  li  p{
	width: 95%;
	font-size: 12px;
	color: #646464;
	margin: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}
#movie_next{
	margin-top: 17px;
}
.movie_content  ul{
	text-align: center;
}
.hot_movie{
	background-color: white;
}
.hot_movie  p  span{
	color: #ea8020;
	font-size: 18px;
	font-weight: 600;
	float: left;
}
.hot_movie_title{
	padding: 21px 0 13px 0;	
	width: 90%;
	margin: 0 auto;
}
.hot_movie_title  a{
	color: #eb8a31;
	float: right;
}
.hot_movie_content{
	width: 90%;
	margin: 0 auto;
}
.hot_movie_content  ul  li{
	width: 50%;
	float: left;
	margin-bottom: 18px;
}
.hot_movie_content  ul  li img{
	width: 95%;
}
.hot_movie_content  ul  li  h3{
	font-size: 14px;
	color: #353535;
	font-weight: bold;
	text-align: left;
	line-height: 24px;
	width: 95%;
	margin: auto;
}
.hot_movie_content  ul  li  p{
	width: 75%;
	font-size: 12px;
	color: #646464;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	width: 95%;
	margin: auto;
}
#hot_movie_next{
	margin-top: 17px;
}
.hot_movie_content  ul{
	text-align: center;
}
.hot_movie_wrap{
	background-color: white;
}
.pic_left{
	text-align: left;
}
.pic_right{
	text-align: right;
}
#tabs-container{
	overflow: hidden;
	max-width: 640px;
	margin: 0 auto;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.banner-slider{
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.banner-slider .sliders{
	width: auto;
	position: absolute;
	float: left;
}
.slider-item{
    overflow: hidden;
	float: left;	
}
.slider-item .img-item{
	width: 100%;
}
.slider-tip {
    width: 100%;
    height: 20px;
    position: absolute;
    line-height: 20px;
    padding: 0px 10px;
    text-align: center;
    top: 100%;
    margin-top: -24px;
}
.slider-point {
    width: 10px;
    height: 10px;
    border-radius: 12px;
    border: 1px solid white;
    top: 0px;
    display: inline-block;
    margin: 0 2px;
}
.slider-point.active{
	background-color: white;
}
.site-ad{
	position: absolute;
	color: white;
	text-align: right;
	right: 10px;
	top: 10px;
	z-index: 99;
	font-size: 12px;
}
.site-emile{
	display: -webkit-flex;
	display: flex;
	margin: 15px 0;
	background: white;
}
.emile-box{
	width: 50%;
	height: inherit;
}
.site h2{
	font-size: 18px;
	display: inline-block;
	padding: 5% 0 5% 5%;
}
.site p{
	font-size: 14px;
	display: inline-block;
	padding-left: 5%;
	width: auto;
}
.site span{
	color: #589dfe;
}
.site{
	border-right: 1px solid #e6e6e6;
}
.site img{
	float: right;
	width: 40%;
	margin-right: 5px;
	margin-bottom: 5px;
}
.site-emile .item{
	height: 50%;
	padding-left: 15px;
	position: relative;
	width: 100%;/*弹性盒子模型*/
	margin: 0;
	display: block;
}
.item img{
	position: absolute;
	right: 20px;
	margin-top: -2%;
	height: 100%;
	display: inline-block;
}
.item h2{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	height: auto;
	display: inline-block;
	font-size: 18px;
}
.site-emile .item:nth-child(1){
	border-bottom: 1px solid #e6e6e6;
}
.item1{
	background: url(../img/icon_miguaikan.png) no-repeat;
	background-size: 25%;
	background-position-y: center;
	background-position-x: 85%;
}
.item2{
	background: url(../img/icon_migumusic.png) no-repeat;
	background-size: 25%;
	background-position-y: center;
	background-position-x: 85%;
}
