body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: url('../images/2.png') repeat; */
	transition: ease 1s all;
}
h1{
	font-size: 14px;
	font-family: cursive;
	color: red;
}
